/* CSS Document */

.odsad {
  padding-left: 50
}

h3.odsad {
  padding-left: 25
}

.vyraznyOdkaz {
  background-color: ccff99;
  border-color: ccff99;
  border-style: solid;
  padding: 10;
  width: 400;
  height:= 30;
  text-align: center;
  margin-top: 10;
  margin-bottom: 10;
}

li {
  padding-bottom: 5;
  list-style-position: outside;
}

#levy >ul>li {
  padding-bottom: 15;
  list-style-type: none;
  margin-bottom: 5px;
}

#levy ul li ul {
  padding-top: 5;
}

#levy ul li li{
  list-style-type: none;
  padding-left: 25px;
  margin: 0;
  margin-top: 4px;

}

#levy ul, #levy li {
  padding: 0;
  margin: 0;
}


a.domu {
  position: absolute;
  align: right;
  right: 0;
  font-size: medium;
  padding-right: 15;
}

.posledni {
  font-size: x-small;
}

.upozorneni {
  border: solid 2px;
  background-color: #FFFFDD;
  color: red;
  padding: 5px
}

#obsah {position: absolute; width: 906; top: 80px; left: 180px;  
  background-color: #eeffe0;
  padding: 10px;
  margin: 10px;
}
#hlavicka { position: absolute; 
  width: 1086; 
  height: 50px; 
  top: 0px; 
  left: 0px;
  margin: 10px;
  background-color: #ddffd0;
  padding: 10px;
  margin: 10px;
  //padding-left: 190px;

}
#levy { 
  position: absolute; width: 150px; top: 80px; left: 0px;
  background-color: #ddffd0;
  padding: 10px;
  margin: 10px;
}
#pravy{position: absolute; width: 110px; top: 120px; left: 650px}

.nazevProgramu {
  display: inline;
  font-family: Arial, sans-serif;
  font-size: 20pt ;
  vertical-align: middle;
  margin: 30px;
  padding-top: 10px;
}

.logo {
  vertical-align: middle;
  margin-right: 95px;
}

body {
  background-color: #ffffee;
}

.hrajes, h2 {
  font-family: Arial, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 10px;
}
.novinka {
  background-color: #ffccaa;
  color: black;
  margin: 5px, 0px, 5px, 0px;
  padding: 5px, 15px, 15px, 15px;
  font-weight: bold;
}
